<ul class="list-group" *ngIf="data">
  <li class="list-group-item" *ngFor="let d of data.children">
    <h4 class="list-group-item-heading">{{d.data.name}}</h4>
    <p class="list-group-item-text"> Employee Id: {{d.data.empId}}, Manager Id: {{d.data.managerId}}</p>
    <app-tree-view *ngIf="d.children && d.children.length" [data]="d"></app-tree-view>
  </li>
</ul>
