/* You can add global styles to this file, and also import other style files */
.list-group-item {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 2px 5px 2px 50px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid darkseagreen;
}
.container{
  padding: 5px 5px 5px 5px;
  margin: 10px;
}
