<div class="container">
  <div class="col-sm-10">

    <h2>Employee Structure</h2>
    <ul class="list-group" *ngIf="employeetree">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          {{employeetree.data.name}}
        </h4>
        <p class="list-group-item-text">
          Employee Id: {{employeetree.data.empId}}, <span style="color: darkcyan;">CEO</span>
        </p>
        <app-tree-view [data]="employeetree"></app-tree-view>
      </li>
    </ul>
    <div>
      <label>Assumptions:</label>
      <ul>
        <li>CEO position is held by a single Employee and is at the top of the Employee Tree (i.e. only one employee with Manager ID: null/empty)</li>
        <li>Employee cannot be his own manager.</li>
        <li><b>Note</b>: The tree will appear only a CEO employee is inserted in the database.</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2">
    <app-add-employee></app-add-employee>
  </div>
</div>
