<h4>Add new Employee </h4>
<label> Name: </label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="name">
<label> Employee Id: </label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="empId">
<label> Manager Id: </label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="managerId">
<hr>
<button
  class="btn btn-primary"
  (click)="onAddEmployee()">Add Employee
</button>

<p class="alert {{messageClass}}"> {{message}} </p>
